<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<nav class="navbar navbar-fixed-top navbar-inverse" th:fragment="header">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="https://github.com/kamkie/mikro-service-example">Microservice example</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#" th:href="@{/}">Home</a></li>
                <li><a href="#" th:href="@{/message}">Messages</a></li>
                <li><a href="#" th:href="@{/task}">Tasks</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li th:if="${#httpServletRequest.getUserPrincipal()} ? false : true">
                    <a href="/login" th:href="@{/signin}">Sign in</a>
                </li>
                <li th:if="${#httpServletRequest.getUserPrincipal()} ? true">
                    <a href="/logout" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>